<div class="bg-gray-100">


<div class="relative">
  <!-- Background Image -->
  <%= image_tag "dashboard.jpg", class: "h-full w-full object-cover", alt: "Dashboard image" %>
  <!-- Overlay Content -->
  <div class="absolute inset-0 italic flex items-center justify-start items-center text-4xl font-bold pl-60 pb-60">
    Welcome <%= current_user.authenticatable.bride_name%> & <%= current_user.authenticatable.groom_name%>
  </div>
</div>

<div class="p-4">
  <h2 class="text-xl font-semibold mb-4">Upcoming Events</h2>

  <div class="flex space-x-4 overflow-x-auto no-scrollbar">
    <% current_user.authenticatable.events.each do |event| %>
      <div class="min-w-[400px] bg-red-300 text-white rounded-lg shadow p-4">
        <h3 class="font-bold text-lg"><%= event.event_name %></h3>
        <p><%= event.event_date.strftime("%b %d, %Y") %></p>
      </div>
    <% end %>
  </div>
</div>





