<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Forever Starts" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    

    <% if current_admin_user %>
      <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <% else %>
      <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
      


    <% end %>
    <%= javascript_importmap_tags %>
    



  </head>

  <body>
    <main class="container flex flex-col mx-auto mt-0 px-0 flex">
    <% unless (controller_name == "pages" && action_name == "home") || controller_path.start_with?("vendors/") || controller_path == "couples/registrations" || controller_path == "devise/sessions"%>

      <header class="flex justify-between items-center px-6 py-4 border-b">
        <div class="flex-auto space-x-0">
          <span class="text-4xl font-serif font-bold text-red-300">FS</span>
          <span class="text-xl font-serif text-gray-600">Forever Starts</span>
        </div>
    
          <nav class="space-x-10 text-black font-medium">
          <div class="flex flex-row justify-end-safe space-x-10">
          <div class = "mt-2 space-x-10">
            <a href="<%= couples_dashboard_path %>" class="hover:text-red-400">Home</a>
            <a href="<%= couples_findvendors_path %>" class="hover:text-red-400">Vendors</a>
            <a href="<%= couples_appointments_path %>" class="hover:text-red-400">Appointments</a>
            <a href="<%= couples_budget_path%>" class="hover:text-red-400">Budget Tracker</a>
            <a href="<%= couples_inspiration_path %>" class="hover:text-red-400">Inspiration</a>
            <a href="<%= couples_guest_path %>" class="hover:text-red-400">Guests</a>
            <%= link_to "Add Event", new_couples_event_path, class: "hover:text-red-400" %>
            <a href="<%= new_couples_card_path %>" class="hover:text-red-400">Invitation Cards</a> 
            
          </div>
            <a href="#", class="h-10 w-10">
                    <img src="https://www.svgrepo.com/download/522763/bell.svg" alt="Notification Icon">
            </a>  
            <a href="<%= edit_couples_profile_path %>" class="h-10 w-10">
              <img src="https://www.svgrepo.com/download/498301/profile-circle.svg" alt="profile Icon">
            </a>
            
          </div>
          </nav>
      </header>
      <% end %>
      <% unless (controller_name == "pages" && action_name == "home") || controller_path.start_with?("couples/") || controller_path == "vendors/registrations" || controller_path == "devise/sessions" || controller_path == "vendors/details" %>

      <header class="flex justify-between items-center px-6 py-4 border-b">
        <div class="flex-auto space-x-0">
          <span class="text-4xl font-serif font-bold text-red-300">FS</span>
          <span class="text-xl font-serif text-gray-600">Forever Starts</span>
        </div>
    
          <nav class="space-x-10 text-black font-medium">
            <div class="flex flex-row justify-end-safe space-x-10">
            <div class = " mt-2 space-x-10">
                <a href="<%= new_vendors_service_path %>" class="hover:text-red-400">Services</a>
                <a href="<%= vendors_appointments_path %>" class="hover:text-red-400">Appointments</a>
            </div>
            
                <a href="#", class="h-10 w-10">
                  <img src="https://www.svgrepo.com/download/522763/bell.svg" alt="Notification Icon">
                </a>
                <a href="<%= edit_vendors_profile_path %>" class="h-10 w-10">
                  <img src="https://www.svgrepo.com/download/498301/profile-circle.svg" alt="profile Icon">
                </a> 
                      
            </div>
          </nav>
      </header>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
